---
name: Ruby
'on':
  push:
    branches:
      - main
  pull_request:
jobs:
  Ruby-CI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.2', '3.3', '3.4', '4.0']
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - run: bundle install
      - name: Run tests
        run: bundle exec rake
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
